/* Thème alternatif - Bleu */

.banner,
.submit_button,
footer {
    background-color: var(--blueTheme);
}

.aboutMe_title {
    border-bottom: 3px dotted var(--blueTheme);
}

.photo_jd {
    border: 3px solid var(--blueTheme);
}
.submit_button:hover {
    background-color: var(--blueTheme_dark);
}
