/* 
    --blueTheme: #2563eb;
    --blueTheme_light: #3b82f6;
    --blueTheme_dark: #1d4ed8;
 */

.banner {
    background-color: var(--blueTheme);
}

.aboutMe_title {
    border-bottom: 3px dotted var(--blueTheme);
}

.photo_jd {
    border: 3px solid var(--blueTheme);
}

.submit_button {
    background-color: var(--blueTheme);
}
.submit_button:hover {
    background-color: var(--blueTheme_dark);
}

footer {
    background-color: var(--blueTheme);
}
